* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    background: #c3d1d2;
}

header {
    background: #BE93C5;  
    background: linear-gradient(to right, #7BC6CC, #BE93C5); 
    color: #fff;
}

nav h1 {
    justify-content: center;
    display: flex;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

#hero {
    background: #BE93C5;  
    background: linear-gradient(to right, #7BC6CC, #BE93C5); 
    color: #fff;
    padding: 100px 20px;
    text-align: center;
}

#hero img {
    height: 250px;
    border-radius: 50%;
    margin-bottom: 50px;
    filter: drop-shadow(0 0 0.75rem #2b077f)
}

section {
    padding: 20px;
    margin: 20px 0;
}

#projects .project {
    background: #fff;
    margin: 10px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contact-form {
    display: flex;
    flex-direction: column;
}

#contact-form label {
    margin: 10px 0 5px;
}

#contact-form input, #contact-form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact-form button {
    padding: 10px;
    background: #BE93C5;
    background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);  
    background: linear-gradient(to right, #7BC6CC, #BE93C5); 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background: #BE93C5; 
    background: linear-gradient(to right, #7BC6CC, #BE93C5); 
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: static;
    bottom: 0;
    width: 100%;
}